:root {

  font-size: 60%;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body, #root{
  height: 100vh;
}

body,
input,
button,
textarea{
  font: 500 1.6rem Roboto;
  
}


@media(min-width: 700px){
  :root{
    font-size: 62.5%;
  }
}